<nav class="bg-white shadow mb-6">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="text-xl font-bold text-blue-600">
      🇳🇵 Local Services Nepal
    </a>

    <!-- Right Side -->
    <div class="space-x-4 flex items-center">
      {% if user.is_authenticated %}
      <span class="text-sm text-gray-600"> Hello, {{ user.username }} </span>

      {% if user.profile.role == 'provider' %}
      <a href="{% url 'provider_dashboard' %}" class="hover:underline">
        Dashboard
      </a>
      {% endif %}

      <a href="{% url 'logout' %}" class="text-red-500 hover:underline">
        Logout
      </a>

      {% else %}
      <a href="{% url 'login' %}" class="hover:underline"> Login </a>
      <a href="{% url 'register' %}" class="hover:underline"> Register </a>
      {% endif %}
    </div>
  </div>
</nav>
