{% extends "base.html" %} {% block content %}

<h1 class="text-3xl font-bold mb-6">My Bookings 🇳🇵</h1>

<ul>
  {% for booking in bookings %}
  <li class="bg-white p-4 mb-3 rounded shadow">
    <strong>
      <a
        href="{% url 'service_detail' booking.service.id %}"
        class="text-blue-600"
      >
        {{ booking.service.title }}
      </a> </strong
    ><br />

    📍 {{ booking.service.location }}<br />
    📅 {{ booking.booking_date }}<br />

    <span class="font-medium">
      Status: {% if booking.status == 'pending' %}
      <span class="text-yellow-600">Pending</span>
      {% elif booking.status == 'accepted' %}
      <span class="text-green-600">Accepted</span>
      {% elif booking.status == 'completed' %}
      <span class="text-blue-600">Completed</span>
      {% else %}
      <span class="text-red-600">Cancelled</span>
      {% endif %}
    </span>

    {% if booking.status == 'completed' %}
    <div class="mt-2">
      <a
        href="{% url 'add_review' booking.service.id %}"
        class="text-sm text-blue-600 underline"
      >
        ✍️ Add Review
      </a>
    </div>
    {% endif %}
  </li>
  {% empty %}
  <li>No bookings yet.</li>
  {% endfor %}
</ul>

<h2 class="text-2xl font-bold mb-4 mt-8">Book a Service</h2>

{% if user_role != 'provider' %}
<ul>
  {% for service in services %}
  <li class="bg-gray-100 p-4 mb-3 rounded shadow">
    <strong>{{ service.title }}</strong><br />
    📍 {{ service.location }}<br />

    <a
      href="{% url 'book_service' service.id %}"
      class="bg-green-600 text-white px-4 py-2 rounded mt-2 inline-block"
    >
      Book Now
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="text-gray-600">Providers cannot book services.</p>
{% endif %} {% endblock %}
