{% extends "base.html" %} {% block content %}

<h1 class="text-3xl font-bold mb-6">Provider Dashboard 🇳🇵</h1>

<h2 class="text-xl font-semibold mb-3">Your Services</h2>
<a
  href="{% url 'service_create' %}"
  class="bg-green-600 text-white px-4 py-2 rounded inline-block mb-4"
>
  ➕ Add New Service
</a>

<ul class="mb-6">
  {% for service in services %}
  <li class="bg-white p-3 mb-2 rounded shadow">
    {{ service.title }} – 📍 {{ service.location }}
  </li>
  {% empty %}
  <li>No services yet</li>
  {% endfor %}
</ul>

<h2 class="text-xl font-semibold mb-3">Booking Requests</h2>

<ul>
  {% for booking in bookings %} {% if booking.status == 'pending' %}
  <a
    href="{% url 'update_booking_status' booking.id 'accepted' %}"
    class="text-green-600 mr-3"
  >
    Accept
  </a>

  <a
    href="{% url 'update_booking_status' booking.id 'cancelled' %}"
    class="text-red-600"
  >
    Reject
  </a>
  {% else %}
  <span class="text-sm text-gray-500"> {{ booking.status|title }} </span>
  {% endif %} {% endfor %}
</ul>

{% endblock %}
